body {
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

input {
    letter-spacing: 1px;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
}

.heading_container h2 span {
    color: #f33535;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*header section*/

.hero_area {
    position: relative;
    min-height: 68vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hero_area .hero_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.hero_area .hero_bg_box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.hero_area .hero_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.sub_page .hero_area {
    min-height: auto;
}

.sub_page .hero_area .hero_bg_box::before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.header_section {
    padding: 15px 0;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.navbar-brand span {
    color: #f33535;
}

.navbar-brand:hover {
    color: inherit;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item .nav-link i {
    margin-right: 5px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
    color: #f33535;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
    color: #f33535;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
    transform: none;
}


/*end header section*/


/* slider section */

.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section #customCarousel1 {
    width: 100%;
    position: unset;
}

.slider_section .detail-box {
    color: #ffffff;
    text-align: center;
}

.slider_section .detail-box h1 {
    font-weight: 600;
    margin-bottom: 15px;
    color: #ffffff;
}

.slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
    text-align: center;
    width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f33535;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f33535;
}

.slider_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #f33535;
}

.slider_section .img-box img {
    width: 100%;
}

.slider_section .carousel_btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 45px auto 0 auto;
    width: 110px;
    height: 50px;
}

.slider_section .carousel_btn-box a {
    margin-top: 18%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    opacity: 1;
    color: #33425b;
    font-size: 14px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.slider_section .carousel_btn-box a:hover {
    background-color: #33425b;
    color: #ffffff;
}

.slider_section .carousel_btn-box .carousel-control-prev {
    left: 25px;
}

.slider_section .carousel_btn-box .carousel-control-next {
    right: 25px;
}

.slider_section .carousel-indicators {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 45px;
    bottom: 90px;
}

.slider_section .carousel-indicators li {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    opacity: 1;
    background-clip: unset;
    border: none;
}

.slider_section .carousel-indicators li.active {
    background-color: #f33535;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box p {
    color: #1f1f1f;
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 35px;
    background-color: #f33535;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f33535;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #f33535;
}

.service_section .heading_container {
    margin-bottom: 35px;
}

.service_section .box {
    margin: 10px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    padding: 45px 25px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #405372;
    color: #ffffff;
}

.service_section .box .img-box {
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_section .box .img-box img {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.service_section .box .detail-box {
    margin-top: 15px;
}

.service_section .box .detail-box h5 {
    font-weight: 600;
}

.service_section .box .detail-box p {
    margin: 0;
}

.service_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.service_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f33535;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f33535;
}

.service_section .btn-box a:hover {
    background-color: transparent;
    color: #f33535;
}

.service_section .owl-stage .owl-item.active {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.service_section .owl-stage .owl-item.active.center {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.service_section .owl-stage .owl-item.active.center .box {
    background-color: #33425b;
}

.service_section .owl-nav {
    display: none;
}

.service_section .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
}

.service_section .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100%;
    margin: 0 2px;
    background-color: #ccc;
    border: none;
    outline: none;
}

.service_section .owl-dots .owl-dot.active {
    background: #f33535;
}


/* why us section */

.why_us_section {
    position: relative;
    color: #ffffff;
}

.why_us_section .why_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.why_us_section .why_bg_box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.why_us_section .why_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 66, 91, 0.65)), to(rgba(51, 66, 91, 0.9)));
    background: linear-gradient(to bottom, rgba(51, 66, 91, 0.65), rgba(51, 66, 91, 0.9));
}

.why_us_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 45px auto 0 auto;
}

.why_us_section .box .num-box {
    width: 145px;
    height: 125px;
    background-color: #ffffff;
    border: 1.5px solid #33425b;
    border-radius: 5px;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.why_us_section .box h5 {
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.why_us_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.why_us_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f33535;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f33535;
}

.why_us_section .btn-box a:hover {
    background-color: transparent;
    color: #f33535;
}


/* end why us section */

.client_section .client_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    padding: 0 15px;
}

.client_section .client_container .client_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.client_section .client_container .client_id h5 {
    color: #1d1b28;
    font-weight: 600;
    margin-bottom: 15px;
}

.client_section .client_container .client_id h6 {
    margin-bottom: 0;
}

.client_section .client_container .img-box {
    width: 125px;
    margin-right: 15px;
}

.client_section .client_container .img-box img {
    width: 100%;
    border-radius: 100%;
}

.client_section .client_container .detail-box {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-bottom: 25px;
}

.client_section .client_container .detail-box p {
    color: #1d1b28;
}

.client_section .client_container .detail-box span {
    margin-top: 25px;
    color: #f33535;
    font-size: 28px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    background-color: #33425b;
    opacity: 1;
    top: 28%;
    color: #ffffff;
    font-size: 12px;
    margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
    background-color: #f33535;
}

.client_section .carousel-control-prev {
    left: 0;
}

.client_section .carousel-control-next {
    right: 0;
}

.client_section .carousel_btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact_section {
    position: relative;
}

.contact_section .heading_container {
    margin-bottom: 45px;
}

.contact_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    border-radius: 0;
    background-color: #eeeaea;
}

.contact_section .form_container .form-control::-webkit-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control:-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::placeholder {
    color: #565554;
}

.contact_section .form_container .form-control.message-box {
    height: 95px;
}

.contact_section .form_container .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact_section .form_container .btn_box button {
    border: none;
    display: inline-block;
    padding: 12px 65px;
    background-color: #f33535;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f33535;
}

.contact_section .form_container .btn_box button:hover {
    background-color: transparent;
    color: #f33535;
}

.contact_section .img-box img {
    width: 100%;
}

.info_section {
    background-color: #2a364b;
    color: #ffffff;
    padding: 45px 0 10px 0;
}

.info_section h5 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.info_section .info_top {
    margin-bottom: 25px;
}

.info_section .info_top .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info_section .info_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 245px;
}

.info_section .info_contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
}

.info_section .info_contact a i {
    margin-right: 5px;
    font-size: 24px;
}

.info_section .info_contact a:hover {
    color: #f33535;
}

.info_section .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 5px;
    font-size: 24px;
}

.info_section .social_box a:hover {
    color: #f33535;
}

.info_section .info_bottom .row>div {
    margin-bottom: 30px;
}

.info_section .info_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
}

.info_section .info_menu li {
    list-style-type: none;
    margin-bottom: 10px;
}

.info_section .info_menu li a {
    color: #ffffff;
}

.info_section .info_menu li a:hover {
    color: #f33535;
}

.info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
}

.info_section .info_form button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f33535;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #f33535;
}

.info_section .info_form button:hover {
    background-color: transparent;
    color: #f33535;
}


/* footer section*/

.footer_section {
    position: relative;
    background-color: #ffffff;
    text-align: center;
}

.footer_section p {
    color: #252525;
    padding: 25px 0;
    margin: 0;
}

.footer_section p a {
    color: inherit;
}


/*# sourceMappingURL=style.css.map */

.navbar-nav a {
    font-size: 1rem;
    transition: 0.3s;
}

.navbar-nav a:nth-child(6) {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
}

#logo {
    width: 110px;
}

#login-nav {
    margin-left: 50%;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
    padding-left: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    display: inline-block;
    border-left: 6px solid green;
}

#login-nav span {
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-right: 8px;
    font-weight: 600;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.6);
    border-right: 6px solid green;
}

@media screen and (max-width: 1400px) {
    #login-nav {
        margin-left: 70%;
    }
}

@media screen and (max-width: 1200px) {
    #login-nav {
        margin-left: 30%;
    }
}

@media screen and (max-width: 1100px) {
    #login-nav {
        margin-left: 20%;
    }
}

@media screen and (max-width: 980px) {
    #login-nav {
        margin-left: 20%;
        border: none;
        border-radius: 0px;
        background: transparent;
        border: none;
        padding-left: 0;
    }
    #login-nav span {
        background: transparent;
        border: none;
    }
    .navbar-nav a:nth-child(1) {
        margin-left: 20%;
        margin-top: 50px;
    }
    .navbar-nav a {
        margin-left: 20%;
    }
}

#slider-mid {
    margin-top: 150px;
}


/* slider */

.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #2d2f48;
}

.preloader {
    /* size */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader 2s infinite ease-in;
}

@keyframes rotatePreloader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
}

.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: 50%;
}

.preloader div:nth-child(1) {
    transform: rotateZ(0deg);
    animation: rotateCircle1 2s infinite linear;
    z-index: 9;
}

@keyframes rotateCircle1 {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 1;
        transform: rotateZ(36deg);
    }
    7% {
        transform: rotateZ(0deg);
    }
    57% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(2) {
    transform: rotateZ(36deg);
    animation: rotateCircle2 2s infinite linear;
    z-index: 8;
}

@keyframes rotateCircle2 {
    5% {
        opacity: 0;
    }
    5.0001% {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    12% {
        transform: rotateZ(-36deg);
    }
    62% {
        transform: rotateZ(-36deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(3) {
    transform: rotateZ(72deg);
    animation: rotateCircle3 2s infinite linear;
    z-index: 7;
}

@keyframes rotateCircle3 {
    10% {
        opacity: 0;
    }
    10.0002% {
        opacity: 1;
        transform: rotateZ(-36deg);
    }
    17% {
        transform: rotateZ(-72deg);
    }
    67% {
        transform: rotateZ(-72deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(4) {
    transform: rotateZ(108deg);
    animation: rotateCircle4 2s infinite linear;
    z-index: 6;
}

@keyframes rotateCircle4 {
    15% {
        opacity: 0;
    }
    15.0003% {
        opacity: 1;
        transform: rotateZ(-72deg);
    }
    22% {
        transform: rotateZ(-108deg);
    }
    72% {
        transform: rotateZ(-108deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(5) {
    transform: rotateZ(144deg);
    animation: rotateCircle5 2s infinite linear;
    z-index: 5;
}

@keyframes rotateCircle5 {
    20% {
        opacity: 0;
    }
    20.0004% {
        opacity: 1;
        transform: rotateZ(-108deg);
    }
    27% {
        transform: rotateZ(-144deg);
    }
    77% {
        transform: rotateZ(-144deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(6) {
    transform: rotateZ(180deg);
    animation: rotateCircle6 2s infinite linear;
    z-index: 4;
}

@keyframes rotateCircle6 {
    25% {
        opacity: 0;
    }
    25.0005% {
        opacity: 1;
        transform: rotateZ(-144deg);
    }
    32% {
        transform: rotateZ(-180deg);
    }
    82% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(7) {
    transform: rotateZ(216deg);
    animation: rotateCircle7 2s infinite linear;
    z-index: 3;
}

@keyframes rotateCircle7 {
    30% {
        opacity: 0;
    }
    30.0006% {
        opacity: 1;
        transform: rotateZ(-180deg);
    }
    37% {
        transform: rotateZ(-216deg);
    }
    87% {
        transform: rotateZ(-216deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(8) {
    transform: rotateZ(252deg);
    animation: rotateCircle8 2s infinite linear;
    z-index: 2;
}

@keyframes rotateCircle8 {
    35% {
        opacity: 0;
    }
    35.0007% {
        opacity: 1;
        transform: rotateZ(-216deg);
    }
    42% {
        transform: rotateZ(-252deg);
    }
    92% {
        transform: rotateZ(-252deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(9) {
    transform: rotateZ(288deg);
    animation: rotateCircle9 2s infinite linear;
    z-index: 1;
}

@keyframes rotateCircle9 {
    40% {
        opacity: 0;
    }
    40.0008% {
        opacity: 1;
        transform: rotateZ(-252deg);
    }
    47% {
        transform: rotateZ(-288deg);
    }
    97% {
        transform: rotateZ(-288deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(10) {
    transform: rotateZ(324deg);
    animation: rotateCircle10 2s infinite linear;
    z-index: 0;
}

@keyframes rotateCircle10 {
    45% {
        opacity: 0;
    }
    45.0009% {
        opacity: 1;
        transform: rotateZ(-288deg);
    }
    52% {
        transform: rotateZ(-324deg);
    }
    102% {
        transform: rotateZ(-324deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.model2 {
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.model2 .content {
    position: relative;
    width: 450px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
}

.model2 .content h4 {
    text-align: center;
    font-weight: bold;
}

.model2 .content form input {
    margin-left: 12.5%;
}

.model2 .content p {
    text-align: center;
    margin-left: 12.5%;
}

.header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
}

.header.sticked {
    height: 70px;
}

.header .logo img {
    max-height: 60px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-default);
    font-family: var(--font-primary);
}

.search-form-wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transition: 0.3s all ease;
    visibility: hidden;
    opacity: 0;
}

.search-form-wrap .search-form {
    position: relative;
}

.search-form-wrap .search-form .form-control {
    width: 300px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
    padding-right: 40px;
}

.search-form-wrap .search-form .form-control:active,
.search-form-wrap .search-form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.search-form-wrap .search-form .icon {
    position: absolute;
    left: 0;
    top: 7px;
    opacity: 0.5;
    left: 10px;
}

.search-form-wrap .search-form .btn {
    position: absolute;
    top: 2px;
    right: 4px;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 30px;
}

.search-form-wrap .search-form .btn:active,
.search-form-wrap .search-form .btn:focus {
    outline: none;
    box-shadow: none;
}

.search-form-wrap.active {
    visibility: visible;
    opacity: 1;
}

section {
    scroll-margin-top: 70px;
}

@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }
    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }
    .navbar li {
        position: relative;
    }
    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
    }
    .navbar a i,
    .navbar a:focus i {
        font-size: 22px;
        line-height: 0;
        margin-left: 5px;
    }
    .navbar a:hover,
    .navbar li:hover>a {
        color: lightblue;
    }
    .navbar .getstarted,
    .navbar .getstarted:focus {
        background: var(--color-primary);
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
    }
    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
        color: #fff;
    }
    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        border-radius: 4px;
    }
    .navbar .dropdown ul li {
        min-width: 200px;
    }
    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 400;
    }
    .navbar .dropdown ul a i {
        font-size: 12px;
    }
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: lightblue;
    }
    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }
    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }
    .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 1279px) {
    .navbar {
        padding: 0;
        z-index: 9997;
    }
    .navbar ul {
        display: none;
        position: absolute;
        inset: 55px 15px 15px 15px;
        padding: 10px 0;
        margin: 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }
    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
    }
    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: lightblue;
    }
    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
        display: block;
    }
    .mobile-nav-toggle {
        display: inline-block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
    }
    .mobile-nav-toggle.bi-x {
        color: #fff;
    }
    .mobile-nav-active {
        overflow: hidden;
    }
    .mobile-nav-active .mobile-nav-toggle {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 9999;
        color: #fff;
    }
    .mobile-nav-active .navbar {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(0, 0, 0, 0.9);
        transition: 0.3s;
    }
    .mobile-nav-active .navbar>ul {
        display: block;
    }
}

.red-dot {
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    display: flex;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    transition: 0.5s all ease;
}

.dropdown2-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 5%;
}

.dropdown2-content a,
.dropdown2-content p {
    color: #fff;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    letter-spacing: -1px;
    font-weight: 400;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

#img-section p,
#deactivate p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}

#img-section b,
#img-section button,
#deactivate b {
    font-size: 14px;
}

label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}

.form-control {
    border-radius: 10px;
}

input[placeholder] {
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #0779e4;
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus {
    outline: none;
}

.button {
    background-color: #fff;
    color: #0779e4;
}

.button:hover {
    background-color: #0779e4;
    color: #fff;
}

.btn-primary {
    background-color: #0779e4;
}

.danger {
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}

.danger:hover {
    background-color: #e20404;
    color: #fff;
}

@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px;
    }
    #deactivate {
        line-height: 18px;
    }
}

.model {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.model .model-bg {
    height: 420px;
    width: 400px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgb(4, 10, 128);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.model .model-bg h1 {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #f00;
    transform: rotate(45deg);
    cursor: pointer;
}

.model .model-bg h4 {
    margin-top: 40px;
    text-align: center;
}

.modelOpen-btn {
    border: 2px solid rgb(4, 10, 128);
    padding: 6px 12px;
    color: rgb(4, 10, 128);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modelOpen-btn:hover {
    background: rgb(4, 10, 128);
    color: #fff;
}

.alertz {
    background: rgba(80, 161, 102, 0.8);
    padding: 20px 40px;
    min-width: 300px;
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 20vh;
    border-radius: 5px;
    border-left: 8px solid rgb(2, 61, 18);
}

.alertz.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alertz.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alertz.hide {
    display: none;
}

.alertz .fa-check-square {
    color: aliceblue;
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.alertz .msg {
    padding: 0 20px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.alertz .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(4, 105, 31);
    padding: 22px 18px;
    color: azure;
    cursor: pointer;
}

.alertz .fa-times {
    font-size: 1.3rem;
    line-height: 40px;
}

.alertz .close-btn:hover {
    background: rgb(2, 61, 18);
}