<section class="info_section ">
    <div class="container">
        <div class="info_top">
            <div class="row">
                <div class="col-md-3 ">
                    <a class="navbar-brand" href="/">
                        LPG Smart Service
                    </a>
                </div>
                <div class="col-md-5 ">
                    <div class="info_contact">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                +94 776334606
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info_bottom">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="info_detail">
                        <h5>
                            Company
                        </h5>
                        <p>
                            Randomised words which don't look even slightly believable. If you are going to use a passage of
                            Lorem
                            Ipsum, you need to be sure
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info_form">
                        <h5>
                            Request
                        </h5>
                        <form action="">
                            <input type="text" placeholder="Enter Your Email" />
                            <button type="submit">
                                Request
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info_detail">
                        <h5>
                            Services
                        </h5>
                        <p>
                            The service is provided to the customer to obtain domestic gas in a safe and efficient manner in connection with the smart service.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="">
                        <h5>
                            Useful links
                        </h5>
                        <ul class="info_menu">
                            <li>
                                <a href="chome.php">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.php">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="contact.php">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="login.php">
                                    QR & Quota
                                </a>
                            </li>
                            <li class="mb-0">
                                <a href="complains.php">
                                    Complains
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<footer class="footer_section">
    <div class="container">
    <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">Group SNSR</a>
    </p>
    </div>
</footer>