  <header class="header_section" style="background: rgba(0, 0, 0, 0.4);">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="/"><img src="src/images/logo.png" id="logo"></a>          
        <button class="navbar-toggler" type="button" style="background-color: #fff;" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="text-transform: uppercase;">
            <a class="nav-item nav-link text-light" style="margin-left: 20%; margin-right: 12px; font-weight: 600;" id="aone" href="/">Home</a>
            <a class="nav-item nav-link text-light" style="margin-right: 12px; font-weight: 600;" href="/about.php">About</a>
            <a class="nav-item nav-link text-light" style="margin-right: 12px; font-weight: 600;" href="/register.php">Register</a>
            <a class="nav-item nav-link text-light" style="margin-right: 12px; font-weight: 600;" href="/contact.php">Contact</a>
            <a href="" style="padding-right: 100px; cursor: default;"></a>
            <a class="nav-item nav-link text-light" href="/login.php" id="login-nav" ><i class="fa fa-sign-in" aria-hidden="true" style="font-size: 1.2rem;"></i><span>LogIn</span></a>
          </div>
        </div>
      </nav>
    </div>
  </header>